.DS_Store
/SupRails/build/
/SupRails/nbproject/private/
/SupRails-Printer/build/
/SupRails-ClientSoap/50/build/
/SupRails-ClientSoap/50/dist/
/SupRails-ClientSoap/50/nbproject/private/
/SupRails-ClientSoap/dist/
/SupRails-ClientSoap/build/
/SupRails-ClientSoap/nbproject/private/